html,
body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#root {
  margin: 0;
  height: 100%;
  width: 100%;
}

.root {
  height: 100%;
  width: 100%;
}

.navbar {
  margin-top: 0;
  width: 100%;
  background-color: #53aded;
}

.main-container{
  width: 100%;
  height: 88%;
  display: flex;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-weight: 900;
  margin: 0;
  font-size: 22pt;
  padding-top: 10px;
  padding-left: 5px;
}

.navbar p{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  color: white;
}

canvas{
  border: black solid 3px;
  border-radius: 30px;
}

.canvasContainer {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 78%;
}

.inputContainer{
    width: 300px;
}

.inputContainer input{
    height: 30px;
    width: 65%;
    border-radius: 20px;
    border: solid gray 0.5px;
}

.inputContainer button{
    height: 30px;
    width: 30%;
    border-radius: 20px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #53aded;
}


.footer-line{
  width: 100%;
  height: 0.5px;
  background-color: #e0e0e0;
}

footer p{
  font-family: 'Roboto Slab', serif;
  font-size: 18px; 
  color: #333; 
  text-align: center;
  margin: 0px;
  padding-top: 9px;
}

.info{
  width: 50%;
  margin-left: 30px;
  height: 50%;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}

.info-container{
  background-color: #D2E0FB;
  width: 50%;
  height: 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-item{
  border: solid black 2px;
}